.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.title {
  font-size: 144px;
  line-height: 1;
  margin-bottom: 16px;
  color: #4c4cff;
}

.text {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 32px;
}

.link {
  color: #4c4cff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}

.link:hover {
  text-decoration: underline;
}
