.wrapper{
    font-size:25px;
    padding: 40px 40px 60px 40px;
}

.nutrition {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 540px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.nutritionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutritionLabel {
    margin-bottom: 8px;
}

@media (max-width: 767px) {
    .nutrition {
        gap: 10px;
    }
}